.content {
  padding: 70px 0 180px;
  background-image: url(./img/bg.png), url(./img/dots.svg);
  background-size: contain, 1100px;
  background-repeat: no-repeat;
  background-position: left bottom, right bottom;
  margin-bottom: 70px;

  @media (max-width: 1024px) {
    padding: 0 0 180px;
    background-size: cover, 1100px;
  }
  @media (max-width: 425px) {
    background-size: cover, 500px;
    padding: 0 0 80px;
    margin-bottom: 30px;
  }
}